html
 section{ 
        display: block;
        background-color: #FEF9F8;
}

body {
    background:#;     
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    font-family: "arial";
    font-size: 12px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 600px;
    padding: 2em ;
    text-align: center;}
    
h1 {
  font-size: 24px;
  font-weight: bold;
  border: 1px solid maroon;
  color: #000000
}
article{background-color:#FEF9F8;
}

h2 {
      font-size:14px;
    color:#000000 ;
    font-weight: 200;
    line-height: 1.3;
}

h3{
    font-size:80px;
    color:#000000 ;
    font-weight: 600;
    font-family: "Helvetica Neue";
   